<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IHangmanGameService">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IPlayerManager">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IChatManager">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IAccountManager">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IPlayerScoresManager">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IInformationPlayerManager">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IChatManager1">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8090/HangmanGameService"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IChatManager"
        contract="MessageService.IChatManager" name="NetTcpBinding_IChatManager">
        <identity>
          <userPrincipalName value="LAPTOP-KL1T53D2\Ale_2" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8090/HangmanGameService"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IHangmanGameService"
        contract="MessageService.IHangmanGameService" name="NetTcpBinding_IHangmanGameService">
        <identity>
          <userPrincipalName value="LAPTOP-KL1T53D2\Ale_2" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8090/HangmanGameService"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPlayerManager"
        contract="MessageService.IPlayerManager" name="NetTcpBinding_IPlayerManager">
        <identity>
          <userPrincipalName value="LAPTOP-KL1T53D2\Ale_2" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8090/HangmanGameService"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAccountManager"
        contract="MessageService.IAccountManager" name="NetTcpBinding_IAccountManager">
        <identity>
          <userPrincipalName value="LAPTOP-KL1T53D2\Ale_2" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8090/HangmanGameService"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPlayerScoresManager"
        contract="MessageService.IPlayerScoresManager" name="NetTcpBinding_IPlayerScoresManager">
        <identity>
          <userPrincipalName value="LAPTOP-KL1T53D2\Ale_2" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8090/HangmanGameService"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IChatManager1"
        contract="MessageService.IChatManager" name="NetTcpBinding_IChatManager1">
        <identity>
          <userPrincipalName value="LAPTOP-KL1T53D2\Ale_2" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8090/HangmanGameService"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IInformationPlayerManager"
        contract="MessageService.IInformationPlayerManager" name="NetTcpBinding_IInformationPlayerManager">
        <identity>
          <userPrincipalName value="LAPTOP-KL1T53D2\Ale_2" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>